<!-- SCRIPTS -->
<!-- JQuery -->

<!-- MDB core JavaScript -->
<script type="text/javascript" src="view/stylesheet/js/mdb.js"></script>
<footer id="footer">{{ text_footer }}<br />{{ text_version }}</footer></div>

</body></html>
